<article
  class="group relative overflow-hidden bg-[#2A2C34] hover:bg-[#3C3E44] cursor-pointer transition-colors rounded-lg h-[180px] lg:h-[200px] flex flex-col"
  [routerLink]="['/characters', character.id]"
>
  <img
    [ngSrc]="character.image"
    [alt]="character.name"
    class="w-full h-[140px] lg:h-[160px] object-cover object-center"
    [priority]="isPriority"
    width="300"
    height="300"
  />

  <div class="flex-1 flex items-center justify-center p-1.5">
    <h3 class="text-sm font-semibold text-white truncate max-w-full">
      {{ character.name }}
    </h3>
  </div>
</article>
