<div>
  <!-- Character Info Section -->
  <div class="bg-[#222222] rounded-2xl overflow-hidden shadow-xl w-[250px] p-6">
    <img
      [ngSrc]="character.image"
      [alt]="character.name"
      class="w-auto h-[200px] object-cover rounded-lg"
      width="400"
      height="200"
      priority
    />

    <!-- Info Container -->
    <div class="border border-[#4A4C54] rounded-lg overflow-hidden mt-4">
      <!-- Header Section -->
      <div class="px-4 py-1 border-b border-[#4A4C54]">
        <h2 class="text-lg font-bold text-[#656D74]">Character Info</h2>
      </div>

      <!-- Content Section -->
      <div class="px-4 py-1">
        <div class="flex flex-col gap-0.5 text-sm">
          <span>
            <span class="text-[#656D74]">Name: </span>
            <span class="text-[#656D74]">{{ character.name }}</span>
          </span>

          <span>
            <span class="text-[#656D74]">Status: </span>
            <span class="text-[#656D74]">{{ character.status }}</span>
          </span>

          <span>
            <span class="text-[#656D74]">Species: </span>
            <span class="text-[#656D74]">{{ character.species }}</span>
          </span>

          <span>
            <span class="text-[#656D74]">Gender: </span>
            <span class="text-[#656D74]">{{ character.gender }}</span>
          </span>

          <span>
            <span class="text-[#656D74]">Origin: </span>
            <span class="text-[#0B65B6]">{{
              character.origin?.name || "Unknown"
            }}</span>
          </span>

          <span>
            <span class="text-[#656D74]">Location: </span>
            <span class="text-[#0B65B6]">{{
              character.location?.name || "Unknown"
            }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>
