<main class="min-h-screen bg-[#333333] text-white">
  <div class="container mx-auto p-8">
    @if (character()) {
    <div class="flex flex-col items-center justify-center">
      <!-- Navegación que muestre la ruta para llegar a ese personaje -->
      <nav class="text-sm mb-6 p-3 bg-[#222222] rounded-lg w-full max-w-[982px]">
        <a routerLink="/" class="text-blue-400 hover:text-blue-300 transition-colors">
          Home
        </a>
        <span class="mx-2 text-gray-500">/</span>
        <a routerLink="/characters" class="text-blue-400 hover:text-blue-300 transition-colors">
          Characters
        </a>
        <span class="mx-2 text-gray-500">/</span>
        <span class="text-gray-400">{{ character()!.name }}</span>
      </nav>

      <div class="flex flex-col md:flex-row items-center justify-center gap-8">
        <character-info [character]="character()!"></character-info>
        <character-episodes [episodeUrls]="character()!.episode || []"></character-episodes>
      </div>
    </div>
    }
  </div>
</main>
